*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Exo', sans-serif;
}

#main-content{
    width: 100%;
    position: absolute;
    top:0vh;
    margin: 120px 320px;
    width: 250px;
    background-color: antiquewhite;
    padding: 25px 50px 25px 50px;
    border: 5px solid #111;
    border-radius: 10mm;
}